.menu-detail {
  padding: 8rem 7% 1.4rem;
  background-color: var(--bg);
  color: #fff;
}

.menu-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.menu-detail-img {
  flex: 1 1 45%;
}

.menu-detail-img img {
  width: 100%;
  border-radius: 5vw;
}

.menu-detail-content {
  flex: 1 1 45%;
  padding: 0 1rem;
  text-align: center;
}

.menu-detail-content h2 {
  font-size: 2.6rem;
  margin-bottom: 1rem;
}

.menu-detail-content p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.menu-detail-content .btn {
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-detail-content .btn:hover {
  background-color: #9d6d40; /* Ganti warna saat hover */
}

/* Responsiveness */
@media (max-width: 768px) {
  .menu-detail-container {
    flex-direction: column;
    text-align: center;
  }

  .menu-detail-img,
  .menu-detail-content {
    flex: 1 1 100%;
  }

  .menu-detail-content {
    margin-top: 2rem;
  }
}
