/* Scroll to Top Button */
#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: transparent;
  color: #fff;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 9999;
}

#scrollToTopBtn:hover {
  background-color: var(--primary);
}
